.footerSec_1 h2 {
  margin-bottom: 20px;
}

.footerSec_1 p {
  margin-bottom: 20px;
}

.footerSec_1 p.site {
  margin-bottom: 0; /* 마지막 요소는 마진 제거 */
}

.black {
  display: flex;
  background-color: #0B1215;
  justify-content: space-between;
  color: white;  
  padding-left: 108px;
  padding-right: 108px;
  align-items: center
}


.black h2{
    font-size: 30px;
}


.black h3{
    font-size: 24px;
}


.black p{
    font-size: 20px;
    font-weight: 310;
}


.black .site{
    font-size: 14px;
}

section h3 {
  margin-bottom: 40px;
}

.bacode {
  background-color: #ffffff;
  width: 234px;
  height: 291px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px); 
  z-index: 2; 
}

.bacode img{
    margin-bottom:  20px;
}


footer {
  margin-top: 0; /* 중복 여백 방지 */
}

footer a {
  color: #ffffff;         /* 흰색으로 변경 */
  text-decoration: none;  /* 밑줄 제거 */
}

footer a:hover {
  color: #FF6F1E;         /* 마우스 올렸을 때 색상 (원하면 변경) */
}

